<main class="main">
  <div class="main-header">
    <h1 class="date">{{ fecha }}</h1>
    <p class="task-status">3 Incomplete, 3 Completed</p>
  </div>
  <div class="main-content">
    <div class="task-container">
      <h2 class="task-header">Incomplete</h2>
      <hr />
      @for(task of tasks; track task.description){ @if(task.isDone === false){
      <app-task
        [description]="task.description"
        [status]="task.isDone"
        (statusChange)="toggleTaskStatus(task)"
      ></app-task>
      } }
    </div>
    <div class="task-container">
      <h2 class="task-header">Completed</h2>
      <hr />
      @for(task of tasks; track task.description){ @if(task.isDone === true){
      <app-task
        [description]="task.description"
        [status]="task.isDone"
        (statusChange)="toggleTaskStatus(task)"
      ></app-task>
      } }
    </div>
  </div>
  <div class="main-footer">
    <button class="add-task-button" (click)="openModal()">
      <span class="material-symbols-outlined"> add </span>
    </button>
  </div>
  @if (modalSwitch == true) {
  <div class="overlay">
    <app-new-task-modal (taskAdded)="addNewTask($event)"></app-new-task-modal>
  </div>
  }
</main>
