.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  width: 480px;
  height: auto;
  border-radius: 8px;
}
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #666666;
}
.left-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 0 16px;
}
.modal-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.right-header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding: 0 16px;
}
.close-btn {
  background-color: transparaent;
  border: none;
  cursor: pointer;
}
.form {
  width: 100%;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
  gap: 5px;
}
.modal-body label {
  font-size: 0.8rem;
  font-weight: bold;
}
.modal-body input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #a5a5a5;
  border-radius: 6px;
}
.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
}
.add-task-btn {
  background-color: #413ed9;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  width: 90%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.add-task-btn:disabled {
  background-color: #a5a5a5;
  cursor: not-allowed;
}
.error-message {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}
