.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.task-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.task-description {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
